.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}
.modal__btn.exportBtn{
  margin-top: 10px;
  width: 46%;
  text-align: inherit;
}
.panel_border{
  border-radius: 5px;
  border: 0px;
  border-color: #e1e2e4;
  border-style: solid;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.force .modal__overlay {
  position: relative;
  top: 0px;
  height: 100%;
  left: 0px;
  right: 0px;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center; 
}
.modal__overlay {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center; 
}

.modal__container {
  background-color: #fff;
  padding: 20px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #707782;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.3em;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  line-height: 1.5;
  color: rgba(0,0,0,.8);
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  margin-right: 5px;
}
#modal-1 .modal__close {
  margin-right: -16px;
}
/* .modal__btn:focus, .modal__btn:hover {

} */
.modal select{
  width: 100%;
  color: #707782;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
summary:focus{
  outline-width: 0px;
}
.modal__btn-primary {
  background-color: #4d5ee0;
  color: #fff;
}
main#modal-1-content {
  margin-top: 0;
  margin-bottom: 0;
}
details .modal__footer {
  margin-bottom: 5px;
}
.modal details{
  border-radius: 5px;
  color: #707782;
  margin-top: 10px;
  width: 460px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  padding: 5px;
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
#shareCode{
  width: 98.5%;
  height: 232px;
}
@media only screen and (max-width: 590px) {
  .nw details {
    width: 300px;
  }
  #shareCode{
    width: 95.5%;
  }
}
